<CONFIG>
     <GRID_URL>http:/google.com:4444</GRID_URL>

    <MUSTARD_URL>http://mustard.orasi.com/results</MUSTARD_URL>
    <MUSTARD_KEY>d00fa543c3c15b950b4e31903941930a</MUSTARD_KEY>
    <SKIP_MUSTARD>False</SKIP_MUSTARD>

    <LOCAL_APPIUM_URL>http://127.0.0.1:4723/wd/hub</LOCAL_APPIUM_URL>

    <SAUCE_USERNAME>MattWatson</SAUCE_USERNAME>
    <SAUCE_ACCESS>8ec13fcb-fae2-4ce5-87cb-bfdd31a55f43</SAUCE_ACCESS>

    <APP_URL>http://project-igloo-prod.maple.willowtreemobile.com/</APP_URL>

    <ANDROID_BUNDLE_ID></ANDROID_BUNDLE_ID>
    <ANDROID_APP_URL></ANDROID_APP_URL>
    <IOS_BUNDLE_ID>com.clearleap.projectX-Calabash</IOS_BUNDLE_ID>
    <IOS_APP_URL></IOS_APP_URL>
</CONFIG>